In [25]:
import pandas as pd
import matplotlib.pyplot as plt

In [26]:
data = pd.Series([1, 2, 3, 4, 5])
print(data)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [27]:
data = {
    "Name": ["John", "Anna", "Peter", "Linda"],
    "Location": ["New York", "Paris", "Berlin", "London"],
    "Age": [24, 13, 53, 33]
}

df = pd.DataFrame(data)
print(df)

    Name  Location  Age
0   John  New York   24
1   Anna     Paris   13
2  Peter    Berlin   53
3  Linda    London   33

In [ ]:
df = pd.read_csv("./data/creditcard.csv.bz2", compression="bz2")

In [47]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [ ]:
df.columns

df_subset = df[['Time', 'Amount', 'Class']]
print(df_subset)

            Time  Amount  Class
0            0.0  149.62      0
1            0.0    2.69      0
2            1.0  378.66      0
3            1.0  123.50      0
4            2.0   69.99      0
...          ...     ...    ...
284802  172786.0    0.77      0
284803  172787.0   24.79      0
284804  172788.0   67.88      0
284805  172788.0   10.00      0
284806  172792.0  217.00      0

[284807 rows x 3 columns]

In [51]:
print(df["Amount"].describe())

count    284807.000000
mean         88.349619
std         250.120109
min           0.000000
25%           5.600000
50%          22.000000
75%          77.165000
max       25691.160000
Name: Amount, dtype: float64

In [53]:
betragswerte = df["Amount"]
print(betragswerte.head())

erste_zeile = df.iloc[0]
print(erste_zeile)

0    149.62
1      2.69
2    378.66
3    123.50
4     69.99
Name: Amount, dtype: float64
Time        0.000000
V1         -1.359807
V2         -0.072781
V3          2.536347
V4          1.378155
V5         -0.338321
V6          0.462388
V7          0.239599
V8          0.098698
V9          0.363787
V10         0.090794
V11        -0.551600
V12        -0.617801
V13        -0.991390
V14        -0.311169
V15         1.468177
V16        -0.470401
V17         0.207971
V18         0.025791
V19         0.403993
V20         0.251412
V21        -0.018307
V22         0.277838
V23        -0.110474
V24         0.066928
V25         0.128539
V26        -0.189115
V27         0.133558
V28        -0.021053
Amount    149.620000
Class       0.000000
Name: 0, dtype: float64

In [56]:
betrug = df[df["Class"] == 1]
print(betrug.head())

        Time        V1        V2        V3        V4        V5        V6  \
541    406.0 -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545
623    472.0 -3.043541 -3.157307  1.088463  2.288644  1.359805 -1.064823
4920  4462.0 -2.303350  1.759247 -0.359745  2.330243 -0.821628 -0.075788
6108  6986.0 -4.397974  1.358367 -2.592844  2.679787 -1.128131 -1.706536
6329  7519.0  1.234235  3.019740 -4.304597  4.732795  3.624201 -1.357746

            V7        V8        V9  ...       V21       V22       V23  \
541  -2.537387  1.391657 -2.770089  ...  0.517232 -0.035049 -0.465211
623   0.325574 -0.067794 -0.270953  ...  0.661696  0.435477  1.375966
4920  0.562320 -0.399147 -0.238253  ... -0.294166 -0.932391  0.172726
6108 -3.496197 -0.248778 -0.247768  ...  0.573574  0.176968 -0.436207
6329  1.713445 -0.496358 -1.282858  ... -0.379068 -0.704181 -0.656805

           V24       V25       V26       V27       V28  Amount  Class
541   0.320198  0.044519  0.177840  0.261145 -0.143276    0.00      1
623  -0.293803  0.279798 -0.145362 -0.252773  0.035764  529.00      1
4920 -0.087330 -0.156114 -0.542628  0.039566 -0.153029  239.93      1
6108 -0.053502  0.252405 -0.657488 -0.827136  0.849573   59.00      1
6329 -1.632653  1.488901  0.566797 -0.010016  0.146793    1.00      1

[5 rows x 31 columns]

In [60]:
df["Category"] = df["Amount"].apply(lambda x: "High" if x > 100 else "Low")
print(df[["Amount", "Category"]].head())

   Amount Category
0  149.62     High
1    2.69      Low
2  378.66     High
3  123.50     High
4   69.99      Low

In [62]:
df_sortiert = df.sort_values(by="Amount", ascending=False)
print(df_sortiert[["Amount", "Category"]])

          Amount Category
274771  25691.16     High
58465   19656.53     High
151296  18910.00     High
46841   12910.93     High
54018   11898.09     High
...          ...      ...
221148      0.00      Low
245522      0.00      Low
272606      0.00      Low
1876        0.00      Low
98473       0.00      Low

[284807 rows x 2 columns]

# Übungsaufgabe

### Übungsaufgabe 1: Erste Schritte mit dem DataFrame

**Ziel**: Die Teilnehmer lernen, den DataFrame zu laden, grundlegende Informationen abzurufen und die Struktur der Daten zu verstehen.

1. Laden Sie die CSV-Datei `creditcard.csv` in einen DataFrame und zeigen Sie die Struktur der Daten an, einschließlich der Spaltennamen und Datentypen.
2. Zeigen Sie die ersten zehn Zeilen des DataFrames an, um einen Überblick über die Daten zu erhalten.
3. Filtern Sie den DataFrame so, dass nur die Spalten `Time`, `Amount` und `Class` angezeigt werden. Speichern Sie diese Spalten in einem neuen DataFrame namens `df_subset`.

**Hinweis**: Verwenden Sie die Methoden `pd.read_csv()`, `df.info()`, `df.head()` und `df[["Time", "Amount", "Class"]]`, um die Aufgaben zu lösen.

---

### Übungsaufgabe 2: Statistische Analyse und Datenfilterung

**Ziel**: Die Teilnehmer üben, statistische Analysen auf einzelne Spalten anzuwenden und Daten anhand von Bedingungen zu filtern.

1. Verwenden Sie den DataFrame und geben Sie eine statistische Zusammenfassung der Spalte `Amount` aus, um sich einen Überblick über die Transaktionsbeträge zu verschaffen.
2. Filtern Sie den DataFrame so, dass nur Transaktionen mit einem Betrag (`Amount`) von mehr als 200 angezeigt werden. Speichern Sie das Ergebnis in einem neuen DataFrame namens `df_hoch`.
3. Zeigen Sie die ersten fünf Zeilen von `df_hoch` an, um die gefilterten Daten zu überprüfen.

**Hinweis**: Verwenden Sie die Methoden `describe()` und Filtrierungstechniken wie `df[df["Amount"] > 200]`, um die Aufgaben zu lösen.

---

### Übungsaufgabe 3: Neue Spalte hinzufügen und Daten sortieren

**Ziel**: Die Teilnehmer lernen, neue Informationen aus bestehenden Daten abzuleiten und die Daten nach bestimmten Kriterien zu sortieren.

1. Erstellen Sie eine neue Spalte `Kategorie` im DataFrame, die wie folgt kategorisiert:
    - Wenn der Betrag (`Amount`) größer als 100 ist, soll in der Spalte `Kategorie` der Wert `Hoch` stehen.
    - Andernfalls soll der Wert `Niedrig` stehen.
2. Sortieren Sie den DataFrame `df` nach der Spalte `Amount` in absteigender Reihenfolge und zeigen Sie die ersten fünf Zeilen an.
3. Wählen Sie die Spalten `Time`, `Amount`, `Class` und `Kategorie` aus und speichern Sie diese in einem neuen DataFrame namens `df_final`.

**Hinweis**: Nutzen Sie `apply()` mit einer Lambda-Funktion, um die Kategorie-Spalte zu erstellen, und verwenden Sie `sort_values(by="Amount", ascending=False)` für die Sortierung.

---

### Ziel der Übungen:

Diese Übungen helfen den Teilnehmern, die grundlegenden Funktionen von Pandas für die Datenanalyse zu verstehen. Sie lernen:

- Wie sie Daten in einen DataFrame laden und grundlegende Informationen erhalten.
- Wie sie einfache Analysen durchführen und Daten basierend auf Bedingungen filtern.
- Wie sie neue Informationen durch die Erstellung von Kategorien hinzufügen und Daten gezielt sortieren.

Durch diese praxisnahen Aufgaben können die Teilnehmer eigenständig mit Pandas arbeiten und sich auf tiefere Analysen und Manipulationen vorbereiten.